In [27]:
print("hello python!")

hello python!

In [28]:
print("gogo")

gogo

In [29]:
print("no more ")

no more

In [30]:
10 / 3

3.3333333333333335

In [31]:
10 // 3

3

In [32]:
10 % 3

1

In [33]:
print("he said 'hello'")

he said 'hello'

In [34]:
print('he said "hello"')

he said "hello"

In [35]:
print("he said \"hello\"")

he said "hello"

In [36]:
0.1 * 3 == 0.3

False

In [37]:
from decimal import *
Decimal(0.1)

Decimal('0.1000000000000000055511151231257827021181583404541015625')

In [38]:
a = 10
b = 10.5
print(a, b)

10 10.5

In [39]:
a = "Hello"
b = "DGSW"
c = "10"
d = 10
e = b

result = a + b

d = 5
print(a, b, c, d, e, result)

Hello DGSW 10 5 DGSW HelloDGSW

In [40]:
a = 3
print(type(a))

<class 'int'>

In [41]:
print("아버지가" + "방에 들어가십니다.")

print("아버지가", "방에 들어가십니다.")

아버지가방에 들어가십니다.
아버지가 방에 들어가십니다.

In [42]:
print("1-2" "화이팅" "잘한다")

1-2화이팅잘한다

In [43]:
a = "안녕"
print("안녕", a, "반가워")

안녕 안녕 반가워

In [44]:
print("얘들아""안녕""반가워")

얘들아안녕반가워

In [45]:
print("얘들아", "안녕", "반갑다", sep = "!!!")

얘들아!!!안녕!!!반갑다

In [46]:
print("개미는", "오늘도", "열심히 일을 하네", sep = "뚠뚠")

개미는뚠뚠오늘도뚠뚠열심히 일을 하네

In [47]:
print("대소고가", end = " ")
print("짱이다")

대소고가 짱이다

In [48]:
str = "Hello"
num = 5
result = str * num
print(result)

HelloHelloHelloHelloHello

In [49]:
print(" \"안녕하세요\t저는 홍길동입니다.\" ")

 "안녕하세요	저는 홍길동입니다."

In [50]:
print("나무"*3)

나무나무나무

In [51]:
print("5+5"*2)
print(5+5)

5+55+5
10

In [52]:
print("2+5-1")

2+5-1

In [53]:
print("1+1")
print(111*2)

1+1
222

In [54]:
print("아버지가"+"방에 들어가십니다")

아버지가방에 들어가십니다

In [55]:
a=10; b='makit'
print(a*3); print(b*3)

30
makitmakitmakit

In [56]:
print('나는' + 17 + '살이다.')

TypeError: can only concatenate str (not "int") to str

In [ ]:
a, b = 1, 2
a += b
a = a + b
b = a - b
b -= a
print(a, b)

5 -2

In [ ]:
a , b = 3, '3'
print(a * int(b))
print(str(a) * int(b))

9
333

In [ ]:
개수 = 20 
print('사과' + 개수 + '개')

TypeError: can only concatenate str (not "int") to str

In [ ]:
a = input("값을 입력하시오 : ")
print(a)

bongo cat

In [ ]:
a = input("첫 번째 숫지를 입력하세요 : ")
b = input("두 번째 숫자를 입력하세요 : ")
print("두 수를 더한 결과는 :", a + b, "입니다.")

두 수를 더한 결과는 : bongocat 입니다.

In [ ]:
a = int(input("정수를 입력하세요 : "))
b = float(input("실수를 입력하세요 : "))
print("두 수를 더한 결과는 :", a + b, "입니다.")
print(type(a + b))

두 수를 더한 결과는 : 32.45 입니다.
<class 'float'>

In [ ]:
a, b = input("")
print(a, b)

ValueError: not enough values to unpack (expected 2, got 1)

In [ ]:
a, b = int(input("두 수 입력:").split())
print(a, b)
print(a+b)

TypeError: int() argument must be a string, a bytes-like object or a number, not 'list'

In [ ]:
city = 'daegu'
today = 3
day = '화요일'
temperature = 13
announcement = "%s의 %d일 %s 기온온 %d도 입니다." %(city, today, day, temperature)

print("%s의 %d일 %s 기온온 %d도 입니다." %(city, today, day, temperature))
print(announcement)

daegu의 3일 화요일 기온온 13도 입니다.
daegu의 3일 화요일 기온온 13도 입니다.

In [ ]:
print("%10d %010d" %(10,10))

print("%8s %8d %8s" %("대소고", 6, "프로그래밍"))
print("%-8s %-8d %-8s" %("대소고", 6, "프로그래밍"))

        10 0000000010
     대소고        6    프로그래밍
대소고      6        프로그래밍

In [ ]:
a = ord(input())
print(a)

103

In [ ]:
name1 = '백선웅'
name2 = '백선웅웅'
age = 15
height = 165.99
print("저의 이름은 {0}입니다. 그리고 나이는 {1}살이고 키는 {2}cm입니다.".format(name1, age, height))

print('{0}의 키 : {2}, {1}의 키 : {2}'.format(name1, name2, height))

저의 이름은 백선웅입니다. 그리고 나이는 15살이고 키는 165.99cm입니다.
백선웅의 키 : 165.99, 백선웅웅의 키 : 165.99

In [ ]:
print('{:\n>10}'.format(5))

5

In [57]:
print("{length: >10d}".format(length = 30))
#공백문자:' '(공백), 정렬: 오른쪽 정렬, 폭: 10
#순서대로 입력해야하고 생략 가능
print("{0:0^10}".format('DGSW'))
#공백문자: 0, 정렬: 가운데 정렬, 폭: 10
#순서대로 입력해야하고 생략 가능
print("{height:!>13.2f}".format(height = 181.24363))
#공백문자: !, 정렬: 오른쪽 정렬, 폭: 13, 소수점 2자리 표시
#순서대로 입력해야하고 생략 가능

        30
000DGSW000
!!!!!!!181.24

In [86]:
print('{{{}}}'.format('DGSW'))

{DGSW}

In [87]:
print('Hello, {} {} {}'.format('DGSW', '1학년', '화이팅'))

Hello, DGSW 1학년 화이팅

In [88]:
a = 1
b = 3
c = "정사각형"
print(f"가로{a}, 높이{b}인 {c}의 넓이는{a * b / 2 : 20.6f} 입니다.")

가로1, 높이3인 정사각형의 넓이는            1.500000 입니다.

In [92]:
print("{0:=^12}".format("hi"))
print(f"{"Hi":=^12}")

SyntaxError: f-string: expecting '}' (37691663.py, line 2)

In [95]:

a = input()
a = int()
print(a)

0

In [96]:
a = "Hello DGSW"
if (a == True) :
    print('참')
else :
    print('거짓')

b = True
if (b == True) :
    print("참")
else :
    print("거짓")

거짓
참

In [97]:
a = []
b = [1, 2, 3]
c = ['DGSW', '1학년', '화이팅']
d = [1, 2, 'DGSW', 'daegu']
e = [1, 2, ['DGSW', 'daegu']]

print(b[0])
print(c[-1])
print(e[2])

print(e[-1][0])

1
화이팅
['DGSW', 'daegu']
DGSW

In [100]:
a = list(range(0, 12, 2))
print(a)

[0, 2, 4, 6, 8, 10]

In [1]:
t1 = (1, 2, 'a', 'b')
print(t1[0], t1[3])

t2 = (3, 4)
t3 = t1 + t2
print(t3)

t1[0] = 'c'

del t1[0]

1 b
(1, 2, 'a', 'b', 3, 4)

TypeError: 'tuple' object does not support item assignment

In [2]:
a = 2
print('result = a :', a)
a += 2
print('result += a :', a)
a -= 2
print('result -= a :', a)
a *= 2
print('result *= a :', a)
a /= 2
print('result /= a :', a)
a %= 2
print('result %= a :', a)

result = a : 2
result += a : 4
result -= a : 2
result *= a : 4
result /= a : 2.0
result %= a : 0.0

In [1]:
# 첫 번째 값이 거짓이므로 두 번째 값은 확인하지 않고 거짓으로 결정
print(False and True)     # False
print(False and False)    # False


# 첫 번째 값이 '참'이면 결과는 두 번째 피연자에 의해 결정되므로 두 번째 연산자의 값을 반환
print("1:", 1 and 0)
print("2:", 0 and 1)
print("3:", 1 and 2)
print("4:", 2 and 1)
print("5:", 0 and [])
print("6:", [] and 0)

False
False
1: 0
2: 0
3: 2
4: 1
5: 0
6: []

In [2]:
# 첫 번째 값이 거짓이므로 두 번째 값은 확인하지 않고 거짓으로 결정
print(False and True)     # False
print(False and False)    # False


# 첫 번째 값이 '참'이면 결과는 두 번째 피연자에 의해 결정되므로 두 번째 연산자의 값을 반환
print("1:", 1 and 0)
print("2:", 0 and 1)
print("3:", 1 and 2)
print("4:", 2 and 1)
print("5:", 0 and [])
print("6:", [] and 0)

False
False
1: 0
2: 0
3: 2
4: 1
5: 0
6: []

In [3]:
# 첫 번째 값이 거짓이므로 두 번째 값은 확인하지 않고 거짓으로 결정
print(False and True)     # False
print(False and False)    # False


# 첫 번째 값이 '참'이면 결과는 두 번째 피연자에 의해 결정되므로 두 번째 연산자의 값을 반환
print("1:", 1 and 0)
print("2:", 0 and 1)
print("3:", 1 and 2)
print("4:", 2 and 1)
print("5:", 0 and [])
print("6:", [] and 0)

False
False
1: 0
2: 0
3: 2
4: 1
5: 0
6: []

In [4]:
print("100 == 100 :", 100 == 100)
print("100 == 200 :", 100 == 200)
print("100 != 100 :", 100 != 100)
print("100 != 200 :", 100 != 200)
print("0 < 9 :", 0 < 9)
print("0 > 9 :", 0 > 9)
print("0 >= 9 :", 0 >= 9)
print("0 <= 9 :", 0 <= 9)

100 == 100 : True
100 == 200 : False
100 != 100 : False
100 != 200 : True
0 < 9 : True
0 > 9 : False
0 >= 9 : False
0 <= 9 : True

In [5]:
# 논리 연산자와 비교 연산자를 함께 사용하기
print(10 == 10 and 10 != 5)
print(10 > 5 or 10 < 3)
print(not 10 > 5)

True
True
False

In [6]:
fuc = ['a', 'b', 'c', [5, 52, 't', 'k', [3, 4, [2, 1, 0, ['ab', 'cd', 'eeeeee', ['easy', 'fffff', ['life', 'is', ['short', 'you', ['need',['python', 'qython']]]]]]]]]]
print(fuc[3][4][2][3][3][2][2][2][1][0])

python

In [13]:
howMany = int(input())
howManyISpent = howMany * 5000
Li = [howMany, howManyISpent]
Tu = (howMany, howManyISpent)
Di = {howMany : howManyISpent}
print(Li, Tu, Di[howMany])

[7, 35000] (7, 35000) 35000

In [14]:
#문제 1
a, b, c = map(int, input().split())
print(a + b + c, (a + b + c) // 3, max(a, b, c))

293 97 100

In [17]:
#문제 2
a, b = input().split()
print(a[int(b)*-1])

g

In [ ]:
a, b = map(int, input().sp)